@media   {
    .calculator{
        width:  20%;
    }
}
*{
    box-sizing: border-box;
}
.calculator{
    width: 20%;
    height: auto;
    border: 1px solid black;
    display: block;
    margin: 10% 0px 30% 30% ;
    border-radius: 10px;
    background-color: #404b65;


}
.calculator h4{
    text-align: center;
    margin: 1px 0px 0px 0px;
    color: white;
}


.screen {
    width: 85%;
    height: auto;
    border: 1px solid black;
    margin: 5% 2% 0px 8%;
    color:white;
    background-color: #55617e;
    border-radius: 4px;

}
.screen input{
    width: 85%;
    height: auto;
    border: 1px solid black;
    margin: 5% 2% 0px 8%;
    color:white;
    background-color: #55617e;
    border-radius: 4px;
    text-align: right;
}
.screen:active{
    background-color: #3c71ef;
}
.buttonWrapper{
    width: 85%;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    margin: 2% 5% 5% 8%;
    background-color: #55617e;
}
.buttons button{
    width:18%;
    height: auto;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    margin: 2% 2% 0px 5% ;
    text-align: center;
    background-color: #1d3659;
    color: white;
}
.buttons button:hover{
    background-color: #1f64b6;
}
.buttons button:active{
    border-color: indianred;
}
#clear{

    height: 4%;
}
.backSpaceImg img{
    width: 36px;
    height: 18px;
    border-radius: 99px;


}
